{% extends 'base.html' %}

{% block content %}

<h2>{{movie.title}}</h2>

<p>released: {{movie.released_at.strftime('%Y')}}</p>
<p><a href={{movie.imdb_url}}>IMDB page</a></p>

{% if session %}
 	{% if user_rating %}
 		<p>Your current rating: {{ user_rating[0] }}</p>
 	{% endif %}
	<form action="/movies/{{ movie.movie_id }}" method="POST">
		Rate this biznatch:
		<select name="score">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
		</select>
		<input type="submit">
	</form>
	
{% endif %}

<ul><h3>User Ratings:</h3>

{% for rating in ratings %}
<li><a href="/user_info?user_id={{ rating.user.user_id }}">user {{rating.user.user_id}} rated {{rating.score}}</a></li>
{% endfor %}

</ul>

{% endblock %}